<article>
  <li>
  <header>
    <%= link_to story.title, story %>
  </header>
  <p>Upvotes: <%= story.upvotes %> |
  Category: <%= story.category %> |
  <%= link_to "Details", story %></p>
  </li>
</article>
